<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goods.business.mapper.ProductMapper">

    <select id="findAllStocks" resultType="com.goods.common.vo.business.ProductStockVO">
        select bp.id,
       bp.p_num,
       bp.name,
       bps.stock,
       bp.image_url,
       bp.unit,
       bp.model,
       bp.remark from biz_product_stock bps join biz_product bp on bps.p_num=bp.p_num
        <where>
            bp.status=0
            <if test="name==null and name=''">
                and bp.name like concat('%',#{name},'%')
            </if>
            <if test="oneCategoryId!=null">
                and bp.one_category_id=#{oneCategoryId}
            </if>
            <if test="twoCategoryId!=null">
                and bp.two_category_id=#{twoCategoryId}
            </if>
            <if test="three_category_id!=null">
                and bp.three_category_id=#{threeCategoryId}
            </if>
        </where>
    </select>
</mapper>
